/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.main-banner {
  background: #16A085; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #16A085 , #F4D03F); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #16A085 , #F4D03F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 380px;
  padding: 0 0 3em 0;
  display: flex;
  margin-bottom: 1.5rem;
  .wrapper-intro {
    width: 880px;
    margin: 0 auto;
    padding: 2em 0;
    justify-content: center;
      h1 {
        font-size: 5em;
        font-weight: 700;
        color: #fff;
      }
  }
}

.wrapper-restaurants {
  padding: 2em 0;
  border-bottom: 1px solid #e3e3e3;
  display: flex;
  .rest-name {
    justify-content: space-around;
    align-items: center;
    flex: 0 0 25%;
    a {
      font-weight: 700;
      text-decoration: none;
      font-size: 1.1em;
      color: #333333;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .rest-address {
    align-items: center;
    flex: 0 0 25%;
    font-weight: 300;
    font-size: .9em;
    font-size: .9;
  }
  .rest-phone {
    align-items: center;
    flex: 0 0 25%;
    text-align: center;
    font-weight: 300;
    font-size: .9;
  }
  .rest-category {
    align-items: center;
    flex: 0 0 15%;
    font-weight: 300;
    font-size: .9;
  }
  .rest-ratings {
    align-items: center;
    flex: 0 0 10%;
    font-weight: 300;
    font-size: .9em;
    font-size: .4;
  }
}


.title-rest {
      text-decoration: none;
      font-size: 800;
    }
