.resto-description {
  margin: 4rem 0 4rem 0;
}

.wrapper-review {
  width: 500px;
  margin: 4rem 0 4rem 0;
}

.reviews {
  margin: 2rem 0 2rem 0;

}

.action-buttons-show {
  margin: 4rem 0;
  display: flex;
  .action-back {
    justify-content: center;
    align-items: center;
  }
  .action-add-review {
    justify-content: center;
    align-items: center;
  }
}


